<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.first.AdminInfoMapper">

    <!-- 관리자 검색 -->
    <select id="getAdminInfoSearch" parameterType="com.example.demo.bean.entity.AdminInfoEntity"
            resultType="com.example.demo.bean.entity.AdminInfoEntity">
        select sid, login_id, login_pw, name, created_at, updated_at, last_login_at
        from admin_info
        <trim prefix="where" prefixOverrides="and">
            <if test="sid != null and sid != ''">and sid = #{sid}</if>
            <if test="loginId != null and loginId != ''">and login_id = #{loginId}</if>
            <if test="loginPw != null and loginPw != ''">and login_pw = #{loginPw}</if>
            <if test="name != null and name != ''">and name like '%'||#{name}||'%'</if>
            and deleted_at is null
        </trim>
    </select>

    <!-- loginid, loginpw 를 조건으로 sid 조회 -->
    <select id="getAdminSid" parameterType="com.example.demo.bean.entity.AdminInfoEntity" resultType="int">
        select sid
        from admin_info
        where login_id = #{loginId}
        <if test="loginPw != null">
            and login_pw = #{loginPw}
        </if>
    </select>

    <!-- Sid 를 조건으로 update -->
    <update id="updateAdminInfoBySid" parameterType="com.example.demo.bean.entity.AdminInfoEntity">
        update admin_info
        <trim prefix="set" prefixOverrides=",">
            <if test="loginId != null">, login_id = #{loginId}</if>
            <if test="loginPw != null">, login_pw = #{loginPw}</if>
            <if test="name != null">, name = #{name}</if>
            , updated_at = now()
        </trim>
        where sid = #{sid}
    </update>

    <!-- login 성공 : loginId, lpginPw 를 조건으로 update -->
    <update id="updateAdminLoginAt" parameterType="com.example.demo.bean.entity.AdminInfoEntity">
        update admin_info
        set last_login_at = now()
        where login_id = #{loginId}
          and login_pw = #{loginPw}
    </update>

    <!-- 계정 추가 -->
    <insert id="insertAdminInfo" parameterType="com.example.demo.bean.entity.AdminInfoEntity"
            useGeneratedKeys="true" keyColumn="sid" keyProperty="sid">
        insert into admin_info(login_id, login_pw, name)
        values (#{loginId}, #{loginPw}, #{name})
    </insert>

    <!-- 계정 삭제 -->
    <delete id="deleteAdminInfo" parameterType="int">
        delete from admin_info
        where sid in
        <foreach collection="sids" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>
</mapper>