<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hjkim27.mapper.first.GhCommitMapper">

    <!-- commit 정보 추가 -->
    <insert id="insertRow" parameterType="com.github.hjkim27.bean.dto.project.GhCommitDTO"
            keyProperty="sha" keyColumn="sha">
        insert into gh_commit ( sha, parent_sha, message, commit_date, comment_count, html_url, url
                              , committer_name, committer_username, committer_email, committer_date
                              , repository_sid)
        values ( #{sha}, #{parentSha}, #{message}, #{commitDate}, #{commentCount}, #{htmlUrl}, #{url}
               , #{committer.name}, #{committer.username}, #{committer.email}, #{committer.committerDate}
               , (select sid from gh_repository where gh_id = #{ghRepositoryId}));
    </insert>

    <!-- commit 정보 수정 -->
    <update id="updateRow" parameterType="com.github.hjkim27.bean.dto.project.GhCommitDTO">
        update gh_commit
        <trim prefix="set" suffixOverrides=",">
            <if test="committer.name != null and committer.name!=''">
                committer_name = #{committer.name},
            </if>
            <if test="committer.email != null and committer.email!=''">
                committer_email = #{committer.email},
            </if>
            <if test="committer.committerDate != null">
                committer_date = #{committer.committerDate},
            </if>
            <if test="message != null and message!=''">
                message = #{message},
            </if>
            <if test="htmlUrl != null and htmlUrl!=''">
                html_url = #{htmlUrl}
            </if>
        </trim>
        where sha = #{sha}
    </update>

    <!-- commit 존재여부 조회 -->
    <select id="isExistRow" parameterType="com.github.hjkim27.bean.dto.project.GhCommitDTO" resultType="Boolean">
        select count(sha) > 0
        from gh_commit
        where sha = #{sha}
    </select>

    <!-- commit list: 정렬 고정 -->
    <select id="getList" parameterType="com.github.hjkim27.bean.search.GhSearch" resultType="com.github.hjkim27.bean.dto.project.GhCommitDTO">
        select * from gh_commit
        <!-- where 별도 sql 분리 : count/list 중복 사용 -->
        <include refid="where"/>
        order by commit_date desc
        <if test="limit != null">limit #{limit}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <!-- 조건에 맞는 total count 조회 -->
    <select id="getTotalCount" parameterType="com.github.hjkim27.bean.search.GhSearch" resultType="int">
        select count(*) from gh_commit
        <include refid="where"/>
    </select>

    <!-- 검색 조건 분리 -->
    <sql id="where">
        <trim prefix="where" prefixOverrides="and">
            repository_sid = #{repositorySid}
        </trim>
    </sql>
</mapper>