<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hjkim27.mapper.first.GhIssueMapper">

    <!-- issue 정보 추가 -->
    <insert id="insertRow" parameterType="com.github.hjkim27.bean.dto.project.GhIssueDTO">
        insert into gh_issue ( gh_id, issue_number, title, body, state
                             , pull_request, locked
                             , html_url, url
                             , created_at, updated_at, closed_at
                             , repository_sid
                             , label_ids)
        values ( #{ghId}, #{issueNumber}, #{title}, #{body}, #{state}
               , #{pullRequest}, #{locked}
               , #{htmlUrl}, #{url}
               , #{createdAt}, #{updatedAt}, #{closedAt}
               , (select sid from gh_repository where gh_id = #{ghRepositoryId})
               , #{labelIds})
    </insert>

    <!-- issue 정보 수정 -->
    <update id="updateRow" parameterType="com.github.hjkim27.bean.dto.project.GhIssueDTO">
        update gh_issue
        <trim prefix="set" prefixOverrides=",">
            <if test="title != null and title != ''">, title = #{title}</if>
            <if test="body != null and body != ''">, body = #{body}</if>
            <if test="state != null and state != ''">, state = #{state}</if>
            <if test="pullRequest != null">, pull_request = #{pullRequest}</if>
            <if test="locked != null">, locked = #{locked}</if>
            <if test="htmlUrl != null and htmlUrl != ''">, html_url = #{htmlUrl}</if>
            <if test="url != null and url != ''">, url = #{url}</if>
            <if test="createdAt != null">, created_at = #{createdAt}</if>
            <if test="updatedAt != null">, updated_at = #{updatedAt}</if>
            <if test="closedAt != null">, closed_at = #{closedAt}</if>
            <if test="labelIds != null and labelIds != ''">, label_ids = #{labelIds}</if>
        </trim>
        where gh_id = ${ghId}
    </update>

    <!-- issue 존재여부 조회 -->
    <select id="isExistRow" parameterType="com.github.hjkim27.bean.dto.project.GhIssueDTO" resultType="Boolean">
        select count(sid) > 0
        from gh_issue
        <where>
            <choose>
                <when test="ghId != null">gh_id = #{ghId}</when>
                <when test="issueNumber != null">issue_number = #{issueNumber}</when>
            </choose>
        </where>
    </select>

    <!-- issue 목록 조회 -->
    <select id="getList" parameterType="com.github.hjkim27.bean.search.GhSearch" resultType="com.github.hjkim27.bean.dto.project.GhIssueDTO">
        select i.sid, i.issue_number, i.title, i.body, i.state, i.pull_request, i.locked , i.created_at, i.updated_at, i.label_ids
             , r.full_name as repositry_full_name
        from gh_issue i left join ( select sid, full_name from gh_repository ) r on i.repository_sid = r.sid
        <!-- where 별도 sql 분리 : count/list 중복 사용 -->
        <include refid="where"/>

        <if test="sortColumn != null and sortColumn != -1">
            order by
            <choose>
                <when test="sortColumn == 2">created_at</when>
                <when test="sortColumn == 3">updated_at</when>
            </choose>
            <if test="desc">desc</if>
        </if>
        <if test="limit != null">limit #{limit}</if>
        <if test="offset != null">offset #{offset}</if>
    </select>

    <!-- 조건에 맞는 total count 조회 -->
    <select id="getTotalCount" parameterType="com.github.hjkim27.bean.search.GhSearch" resultType="int">
        select count(*)
        from gh_issue i left join ( select sid, full_name from gh_repository ) r on i.repository_sid = r.sid
        <include refid="where"/>
    </select>

    <!-- 검색 조건 분리 -->
    <sql id="where">
        <trim prefix="where" prefixOverrides="and|or">
            r.sid = #{repositorySid}
            <if test="searchValue != null and searchValue != ''">
                and title like '%'||#{searchValue}||'%'
            </if>
            <if test="searchType != null and searchType != -1">
                <if test="searchType == 0">and pull_request = false</if>
                <if test="searchType == 1">and pull_request = true</if>
            </if>
            <!-- 검색 조건 추가: issue 상태값 조회(open, closed, pull_request) -->
            <trim>
                <foreach collection="searchValueList" item="item" open="and (" separator="or" close=")">
                    <if test="item == 'is:open'">
                        state = 'OPEN'
                    </if>
                    <if test="item == 'is:closed'">
                        state = 'CLOSED'
                    </if>
                </foreach>
            </trim>
            <!-- [2024-09-08] 다중검색이 가능하도록 수정 -->
            <if test="filterTypeList != null and filterTypeList != ''">
                <foreach collection="filterTypeList" item="item" open="and (" separator="and" close=")">
                    label_ids like '%'||#{item}||'%'
                </foreach>
            </if>
        </trim>
    </sql>

    <!-- issue count -->
    <select id="issueStateCount" parameterType="Integer" resultType="map">
        select
            case
                when pull_request = false and state = 'CLOSED' then 'closed'
                when pull_request = false and state = 'OPEN' then 'open'
                when pull_request = true  then 'pullRequest'
                else ''
                end as key, count as value
        from (
            select pull_request, state, count(*)
            from gh_issue
            where repository_sid = #{repositorySid}
            group by pull_request, state
            ) aa
    </select>

    <select id="getItem" parameterType="com.github.hjkim27.bean.search.GhDetailSearch" resultType="com.github.hjkim27.bean.dto.project.GhIssueDTO">
        select * from gh_issue where sid = #{sid}
    </select>
</mapper>