<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hjkim27.mapper.first.ProjectRepositoryMapper">

    <!-- repository 정보 추가 -->
    <insert id="insertRow" parameterType="com.github.hjkim27.bean.dto.project.GhRepositoryDTO"
            keyProperty="sid" keyColumn="sid" useGeneratedKeys="true">
        insert into gh_repository ( gh_id
                                  , name, full_name, description, gh_private
                                  , language, html_url, ssh_url, url
                                  , created_at, updated_at
                                  , owner_sid)
        values ( #{ghId}
               , #{name}, #{fullName}, #{description}, #{ghPrivate}
               , #{language}, #{htmlUrl}, #{sshUrl}, #{url}
               , #{createdAt}, #{updatedAt}
               , (select sid from gh_owner_info where gh_id = #{ghOwnerId}));
    </insert>

    <!-- repository 정보 수정 -->
    <!-- [2024-09-22] where 조건 수정 -->
    <update id="updateRow" parameterType="com.github.hjkim27.bean.dto.project.GhRepositoryDTO"
            keyProperty="sid" keyColumn="sid" useGeneratedKeys="true"
    >
        update gh_repository
        <trim prefix="set" prefixOverrides=",">
            active = true
            <if test="name != null and name != ''">, name = #{name}</if>
            <if test="fullName != null and fullName != ''">, full_name = #{fullName}</if>
            <if test="description != null and description != ''">, description = #{description}</if>
            <if test="ghPrivate != null and ghPrivate != ''">, gh_private = #{ghPrivate}</if>
            <if test="language != null and language != ''">, language = #{language}</if>
            <if test="htmlUrl != null and htmlUrl != ''">, html_url = #{htmlUrl}</if>
            <if test="sshUrl != null and sshUrl != ''">, ssh_url = #{sshUrl}</if>
            <if test="createdAt != null">, created_at = #{createdAt}</if>
            <if test="updatedAt != null">, updated_at = #{updatedAt}</if>
            <if test="ghOwnerId != null and ghOwnerId != ''">, owner_sid = (select sid from gh_owner_info where gh_id = #{ghOwnerId})</if>
        </trim>
        where gh_id = #{ghId};
    </update>

    <!-- 삭제된 repository 을 확인하기 위해 모든 repository 의 active 를 false 로 업데이트 -->
    <update id="updateActiveFalse">
        update gh_repository
        set active = false;
    </update>

    <!-- repository 존재여부 조회 -->
    <!-- [2024-09-22] where 조건 수정 -->
    <select id="isExistRow" parameterType="com.github.hjkim27.bean.dto.project.GhRepositoryDTO" resultType="Integer">
        select sid
        from gh_repository
        <where>
            <choose>
                <when test="ghId != null">gh_id = #{ghId}</when>
                <when test="fullName != null">full_name = #{fullName}</when>
                <when test="name != null">name = #{name}</when>
            </choose>
        </where>
    </select>

    <select id="getList" parameterType="com.github.hjkim27.bean.search.ProjectSearch"
            resultType="com.github.hjkim27.bean.dto.project.GhRepositoryDTO">
        select *
        from gh_repository
        <trim prefix="where" prefixOverrides="and">
            <if test="searchValue != null and searchValue != ''">
                and (name like '%'||#{searchValue}||'%' or description like '%'||#{searchValue}||'%')
            </if>
            <if test="filterType != null and filterType != ''">
                <if test="filterType == 'private'">and gh_private = true</if>
                <if test="filterType == 'public'">and gh_private = false</if>
            </if>
        </trim>
        <if test="sortColumn != null and sortColumn != -1">
            order by
            <choose>
                <when test="sortColumn == 2">name</when>
                <when test="sortColumn == 8">created_at</when>
                <when test="sortColumn == 9">updated_at</when>
            </choose>
            <if test="desc">desc</if>
        </if>
        <if test="limit != null">limit #{limit}</if>
        <if test="offset != null">offset #{offset}</if>
        ;
    </select>
</mapper>