<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hjkim27.mapper.first.ProjectRepositoryMapper">

    <!-- repository 정보 추가 -->
    <insert id="insertRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectRepositoryVO"
            keyProperty="sid" keyColumn="sid" useGeneratedKeys="true">
        insert into tb_project_repository (name, full_name, description, privacy, html_url, ssh_url, created_at, updated_at)
        values (#{name}, #{fullName}, #{description}, #{privacy}, #{htmlUrl}, #{sshUrl}, #{createdAt}, #{updatedAt});
    </insert>

    <!-- repository 정보 수정 -->
    <update id="updateRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectRepositoryVO"
            keyProperty="sid" keyColumn="sid" useGeneratedKeys="true"
    >
        update tb_project_repository
        set name        = #{name},
            full_name   = #{fullName},
            description = #{description},
            privacy     = #{privacy},
            html_url    = #{htmlUrl},
            ssh_url     = #{sshUrl},
            created_at     = #{createdAt},
            updated_at     = #{updatedAt},
            active      = true
        where full_name = #{fullName};
    </update>

    <!-- 삭제된 repository 을 확인하기 위해 모든 repository 의 active 를 false 로 업데이트 -->
    <update id="updateActiveFalse">
        update tb_project_repository
        set active = false;
    </update>

    <!-- repository 존재여부 조회 -->
    <select id="isExistRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectRepositoryVO" resultType="Boolean">
        select count(full_name) > 0
        from tb_project_repository
        where full_name = #{fullName}
    </select>

    <!-- fullName 으로 repoSid 조회 -->
    <select id="getSidByRepositoryFullName" parameterType="string" resultType="int">
        select sid
        from tb_project_repository
        where full_name = #{fullName}
    </select>
    
    <select id="getList" parameterType="com.github.hjkim27.bean.search.ProjectSearch" resultType="com.github.hjkim27.bean.dto.project.ProjectRepositoryDTO">
        select *
        from tb_project_repository
        <trim prefix="where" prefixOverrides="and">
            <if test="searchValue != null and searchValue != ''">
                and (name like '%'||#{searchValue}||'%' or description like '%'||#{searchValue}||'%')
            </if>
            <if test="privacyType != null and privacyType != ''">
                <if test="privacyType == 'private'">and privacy = true</if>
                <if test="privacyType == 'public'">and privacy = false</if>
            </if>
        </trim>
        <if test="sortColumn != null and sortColumn != -1">
            order by
            <choose>
                <when test="sortColumn == 2">name</when>
                <when test="sortColumn == 8">created_at</when>
                <when test="sortColumn == 9">updated_at</when>
            </choose>
            <if test="desc">desc</if>
        </if>
        <if test="limit != null">limit #{limit}</if>
        <if test="offset != null">offset #{offset}</if>
        ;
    </select>
</mapper>