<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon May 02 17:59:21 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hjkim27.mapper.first.ProjectIssueMapper">

    <!-- issue 정보 추가 -->
    <insert id="insertRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectIssueVO">
        insert into tb_project_issue (repository_sid, label_ids, state, issue_number, title, body, created_at, updated_at, closed_at)
        values (#{repositorySid}, #{labelIds}, #{state}, #{issueNumber}, #{title}, #{body}, #{createdAt}, #{updatedAt}, #{closedAt})
    </insert>

    <!-- issue 정보 수정 -->
    <update id="updateRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectIssueVO">
        update tb_project_issue
        set label_ids  = #{labelIds},
            state      = #{state},
            title      = #{title},
            body       = #{body},
            created_at = #{createdAt},
            updated_at = #{updatedAt},
            closed_at  = #{closedAt}
        where repository_sid = ${repositorySid} and issue_number = #{issueNumber}
    </update>

    <!-- issue 존재여부 조회 -->
    <select id="isExistRow" parameterType="com.github.hjkim27.bean.vo.project.ProjectIssueVO" resultType="Boolean">
        select count(issue_number) > 0
        from tb_project_issue
        where repository_sid = ${repositorySid} and issue_number = #{issueNumber}
    </select>

    <!-- issue 목록 조회 -->
    <select id="getList" parameterType="com.github.hjkim27.bean.search.ProjectSearch" resultType="com.github.hjkim27.bean.dto.project.ProjectIssueDTO">
        select
            (select full_name from tb_project_repository where sid = i.repository_sid) as repository_full_name,
            state, issue_number, title, body, label_ids, created_at, updated_at
        from tb_project_issue i
        <trim prefix="where" prefixOverrides="and|or">
            <if test="searchValue != null and searchValue != ''">
                and title like '%'||#{searchValue}||'%'
            </if>
            <!-- [2024-09-08] 다중검색이 가능하도록 수정 -->
            <if test="filterTypeList != null and filterTypeList != ''">
                <foreach collection="filterTypeList" item="item" open="and (" separator="and" close=")">
                    label_ids like '%'||#{item}||'%'
                </foreach>
            </if>
        </trim>
        <if test="sortColumn != null and sortColumn != -1">
            order by
            <choose>
                <when test="sortColumn == 2">repository_full_name</when>
                <when test="sortColumn == 8">created_at</when>
                <when test="sortColumn == 9">updated_at</when>
            </choose>
            <if test="desc">desc</if>
        </if>
    </select>
</mapper>